@charset "utf-8";

* {
    padding: 0;
    margin: 0;
}

body {
    font: 14px/18px Tahoma, Arial, sans-serif;
}

.container {
    width: 80%;
    margin: 30px auto;
    overflow: hidden;
}

h1 {
    padding-bottom: 20px;
    margin-bottom: 40px;
    line-height: 1;
    font-weight: normal;
}

p {
    margin-bottom: 30px;

    line-height: 24px;
    color: #4C4C4C;
}

.backToTop {
    padding: 15px 25px;
    border: none;
    border-radius: 10px;
    background: rgba(0, 198, 255, .9);

    opacity: 1;
    -webkit-transition: visibility 0.2s, opacity 0.2s;
    transition: visibility 0.2s, opacity 0.2s;

    position: fixed;
    bottom: 30px;
    right: 30px;

    cursor: pointer;

    font: 14px/1 Tahoma, Arial, sans-serif;
    color: #006583;
}

.backToTop.hidden {
    opacity: 0;
    visibility: hidden;
}